:root{
  --mau-xanh: #c1f5e7;
}
*{
 font-family: 'Roboto', sans-serif;
 /* padding: 0;
  margin: 0; */
}

.image{
  position: relative;
}
img{
  position: absolute;
  right: 30px;
}
.radio-input:checked + label{
  color: red;
}

.submit.btn{
  text-align: center;
}
.material-symbols-outlined{
  vertical-align: sub;
}

.material-symbols-outlined{
  color:yellow;
}
body{
  margin: 0;
  padding: 0;
}
header{
  background-color: bisque;
  padding: 20px 0 20px 10px;
  position: fixed;
  width: 100%;
}
h1{
  margin-top: 0;
}
 header a{
  margin-right: 10px;
 }
.container{
  background-color: aqua;
  margin: 0 20%;
  padding: 20px;
}

.left-container{
  float: left;
  background-color: gray;
  position: sticky;
  margin-top: 250px;
  top: 60px;
}

.btn-fixed{
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}



